*{
    font-family: poppins, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: #2176FF;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5%;
}

.logo img{
    width: 60px;
}

.slogan{
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    font-size: 170%;
    margin-left: -48%;
}

.slogan:hover{
    color: #ffffff;
    cursor: pointer;
}

#menumobile{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

.navbar ul{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: #000;
}

.navbar ul li a:hover{
    font-size: 110%;
    color: #ffffff;
}

/* __SOBRE__ */

.Sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    background-color: #df9006;
    height: 90vh;
}

.Sobre h1{
    font-size: 180%;
    margin: 0 8%;
}

 h1 span{
    color: #2176FF;
}

.p-sobre{
    margin: 1% 8%;
    font-size: 18px;
}

.fotodele{
    background-color: #fff;
    height: 90vh;
    width: 130%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.fotodele img{
    width: 600px;
    height: 100%;
}

.contato{
    margin-left: 8%;
    background-color: #2176FF;
    border-radius: 16px;
    width: 10%;
}

button:hover{
    background-color: #ffffff;
    cursor: pointer;
    transform: scale(1.10);
}

/* __ONU__ */

.ONU{
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.fotods{
    display: flex;
    animation: esquerda 15s infinite;
}

.fotods img{
    height: 50vh;
    width: 208vh;
}
 .logoonu{
    overflow: hidden;
    white-space: nowrap;
    animation: direita 5s infinite;
    display: flex;
    background-color: #000000;
} 

.onulogo img{
    width: 100%;
    height: 50vh;
}

/* __SERVIÇO__ */

.serviço{
    height: 100vh;
    width: 100%;
    background-color: #2176FF;
    display: grid;
    place-items: center;
    font-size: 25px;
}

.serviço h1:hover{
    cursor: pointer;
    color:#fff
}

/* __CONTATO__ */

.contatos{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8
    ;
}

.contatos-inp{
    content: "";
    background-color: #fff;
    width: 190px;
    height: 254px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.contatos-inp input{
    display: block;
    border-radius: 20px;
}

.contatos-inp textarea{
    display: block;
    border-radius: 20px;
}

.contatos-inp label{
    display: grid;
    place-items: start !important;
}

/* __TAMANHOS DE TELA__ */

@media screen and (max-width: 1020px) {

    #menumobile{
        display: flex;
        border-radius: 16px;
        width: 14%;
        justify-content: center;
        background-color: #df9006;
        margin-right: -35%;
    }

    #menumobile:hover{
        background-color: #fff;
    }

    .slogan{
        margin-left: -30%;
    }

    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        z-index: 1000;
        background-color: #fff;
    }

    #nav.active #menu{
        display: block;
    }

    #nav ul li a{
        display: block;
    }

    #nav ul li a:hover{
        background-color: #df9006;
        color: #fff;
    }

    .Sobre{
        display: block;
        width: 100%;
        flex-direction: column-reverse;
    }

    .fotodele img{
        width: 100%;
        height: 111%;
        margin-left: -15%;
    }

    .txtsobre{
        height: 100vh;
    }

    .contato{
        width: 17%;
        margin: 4% 8%;
    }

    .ONU{
        margin-top: 80vh;
    }

    .fotods img{
        width: 65vh;
        height: 30vh;
    }

}    

/* __ANIMAÇÕES__ */

@keyframes esquerda {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes direita {
    from{
        transform: translateX(calc(-400%));
    }to{
        transform:translate(100%)
    }
}